<p id="notice"><%= notice %></p>

<div id="hmenu">
<ul>
  <%= link_to 'Home', root_path, class: 'navbar-brand' %>
  <% Menu.all.each do |menu| %>
  	   	<%= link_to "#{menu.name}", category_path(menu.category_id), class: 'navbar-brand' %>
  <% end %>
  <%= link_to 'Contato',  new_contact_path , class: 'navbar-brand' %>
  
  <% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, :method=>'delete', class: 'navbar-brand') %>        
  <% else %>
    <%= link_to('Login', new_user_session_path, class: 'navbar-brand')  %>  
  <% end %>
  <% if user_signed_in? %>
    <%= link_to('Edit account', edit_user_registration_path, class: 'navbar-brand') %>
  <% else %>
    <%= link_to('Sign up', new_user_registration_path, class: 'navbar-brand')  %>
  <% end %>
</ul>  
</div> 
